/* Animations */

.snow-wrap {
    width:4fr;
    height:4fr;
    background: radial-gradient(farthest-corner at 30vw 20vh,#5b848f 1%,#312c41 100%);
    border-top: 5px solid $secondary-color;
    align-items: center;
    position: relative;
    overflow: hidden;
    

    /* Snowfall animation sourced from this website https://redstapler.co/pure-css-snow-fall-effect/
    Modified for snow desity, radial background color, container size*/
 $s1:"";
 $s2:"";
 $s3:"";
    @for $i from 1 through 300 {
    $s1: $s1 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    $s2: $s2 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    $s3: $s3 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    @if $i < 300 {
        $s1: $s1 + ",";
        $s2: $s2 + ",";
        $s3: $s3 + ",";
        }
    }
    .snowfall {
    border-radius: 50%;
    opacity: 0.8;
    position: absolute;
    top: auto;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    .layer1 {
    width: 1.5rem;
    height: 1.5rem;
    filter:blur(1.5px);
    box-shadow: #{$s1};
    animation-duration: 12s;
    }
    .layer1.a {
    animation-delay: -3s;
    }
    .layer2 {
    width: 1.2rem;
    height: 1.2rem;
    filter:blur(3px);
    box-shadow: #{$s2};
    animation-duration: 10s;
    }
    .layer2.a {
    animation-delay: -4s;
    }
    .layer3 {
    width: 0.8rem;
    height: 0.8rem;
    filter:blur(6px);
    box-shadow: #{$s3};
    animation-duration: 14s;
    }
    .layer3.a {
    animation-delay: -5s;
    }
    @keyframes fall {
    100% {transform: translateY(200vh); }
    }

    .santa {
        animation: float 15s linear infinite;
    }
    
    @keyframes float {
        0% {
            transform: translateX(-800px);
        }
        100% {
            transform: translateX(820px);
        }
    }

    .santa {
    top: 50px;
    }
    
    .santa img {
    width: 80%;
    }

}

.boat-wrap {
    width:4fr;
    height:4fr;
    background: radial-gradient(farthest-corner at 30vw 20vh,#5b848f 1%,#312c41 100%);
    align-items: center;
    position: relative;
    overflow: hidden;

    .ocean {
        /* The sea */
        height: 125px;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }
    
    .ocean img {
        width: 150%;
    }
    
    .waves {
        height: 100%;
        position: absolute;
        right: 0;
        animation: waves 15s linear infinite;
    }
    
    @keyframes waves {
        0% {
            transform: translate(100px);
        }
        100% {
            transform: translate(10px);
        }
    }

    .tugboat {
        animation: boat 3s linear infinite;
        background-repeat: no-repeat;
        bottom: 200px;
        height: 75px;
        left: 30%;
        position: absolute;
        width: 400px;
    }
    
    .tugboat img {
        width: 100%;
    }
    
    @keyframes boat {
        0% {
            transform: rotate(0);
        }
        50% {
            transform: rotate(-3deg);
        }
        100% {
            transform: rotate(0);
        }
    }

    .ufo {
    animation: float 15s linear infinite;
    }
    
    @keyframes float {
        0% {
            transform: translateX(-800px);
        }
        100% {
            transform: translateX(820px);
        }
    }
    
    
    .ufo {
        top: 50px;
    }
    
    .ufo img {
        width: 40%;
        height: 810px;
    }
    
}