/* Responsive */

@include media-sm{
    .logo img {
        width: 80px;
    }
    .about__bio-image p {        
        margin-bottom: 0;
    }
    .boat-wrap .tugboat img {
                width: 53%;
                height: 200px;
            }
}


@include media-md {
    .logo img {
        width: 100px;
    }

    .menu-btn {
        visibility: hidden;
    }
    
    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }

            &__linnk {
                font-size: 1.3rem;
            }
        }
    }

    .about__bio {
        font-size: 1.2rem;
    }

    .projects {
        &__bio-image {
            height: 40vh;
        }
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        .text-secondary {
            font-size: 3rem;
        }
    }

    .contact__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .boat-wrap .tugboat img {
        width: 80%;
        height: 200px;
    }
}

@include media-lg {
    .projects {
        &__items {
          grid-template-columns: repeat(3, 1fr);
        }
        .text-secondary {
            font-size: 3rem;
        }
    }
    .contact__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .boat-wrap .tugboat img {
        width: 100%;
        height: 200px;
    }

}

@include media-xl {
    .projects {
    &__bio-image {
        height: 50vh;
        }
    }
    .text-secondary {
        font-size: 6rem;
    }

    .about{
        h1 {
            font-size: 6rem;
        }
        .text-secondary {
            font-size: 6rem;
        } 
    }
}